body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #0b6623;
    color: white;
    text-align: center;
    padding: 12px;
    font-size: 20px;
}

.main-container {
    display: flex;
    height: 90vh;
}

#map {
    width: 65%;
    height: 100%;
}

#infoPanel {
    width: 35%;
    padding: 20px;
    background: #f4f4f4;
    border-left: 2px solid #ddd;
    overflow-y: auto;
}

#infoPanel h2 {
    color: #0b6623;
}

button {
    padding: 10px;
    width: 100%;
    background: orange;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    #map {
        width: 100%;
        height: 50vh;
    }

    #infoPanel {
        width: 100%;
        height: 40vh;
    }
}
